@import url('https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap');

body {
    font-family: Manrope, sans-serif, serif;
    line-height: 1.5;
    background: #fff;
    color: rgba(0, 0, 0, .87);
    font-size: var(--maz-base-font-size);
}

* {
    background-repeat: no-repeat;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background-color: #f6f9fc;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

html {
    font-size: 14px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: var(--maz-base-font-size);
}

:root {
    --maz-base-font-size: 16px;
}

:root {
    --maz-container-padding: 40px;
    --maz-container-width: calc(100% - var(--maz-container-padding)*2);
}

:root {
    --white: #fff;
}

*,
:after,
:before {
    background-repeat: no-repeat;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit;
}

:-webkit-scrollbar {
    width: 10px;
}

:-webkit-scrollbar-thumb {
    background: #888;
}

:-webkit-scrollbar-thumb {
    background-color: #989696;
    border-radius: 5px;
}

:-webkit-scrollbar-thumb:hover {
    background: #555;
}

:-webkit-scrollbar-track {
    background: #f1f1f1;
}

:-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.card-nfy {
    background-color: var(--white);
    width: 100%;
    border-radius: 15px;
}

.v-ghe {
    border-radius: 0;
}

.card-99d {
    border-width: thin;
    display: block;
    max-width: 100%;
    outline: none;
    text-decoration: none;
    -webkit-transition-property: opacity, -webkit-box-shadow;
    transition-property: opacity, -webkit-box-shadow;
    transition-property: box-shadow, opacity;
    transition-property: box-shadow, opacity, -webkit-box-shadow;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
}

.card-o9s {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important;
}

.whi-r4y {
    background-color: #fff !important;
    border-color: #fff !important;
}

.theme--2pi.v-ghe {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, .87);
}

.v-ghe:not(.v-sheet--outlined) {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
}

.theme--2pi.card-99d {
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
}

.v-ghe.card-99d {
    border-radius: 5px;
}

.v-ghe.card-99d:not(.v-sheet--outlined) {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.mb-eoo {
    margin-bottom: 32px !important;
}

.card-99d> :first-child:not(.btn-rjg):not(.v-chip):not(.v-avatar) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-99d> :last-child:not(.btn-rjg):not(.v-chip):not(.v-avatar) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.filter-o1n {
    padding-inline: 10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter-o1n {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.filter-o1n[data-v-6ca22560] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 20px;
    padding-inline: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.filter-yj6[data-v-100cea66] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
}

.table-vid {
    border-radius: 5px;
}

.table-vid {
    line-height: 1.5;
    max-width: 100%;
}

.theme--2pi.table-vid {
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
}

.container-b4d {
    display: none;
}

.input-o6t {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 16px;
    letter-spacing: normal;
    max-width: 100%;
    text-align: left;
}

.field-jjw {
    padding-top: 12px;
    margin-top: 4px;
}

.field-kq7 {
    position: relative;
}

.field-kq7 {
    border-radius: 6px;
}

.field-kq7 {
    margin-bottom: 16px;
    -webkit-transition: border .3s cubic-bezier(.25, .8, .5, 1);
    transition: border .3s cubic-bezier(.25, .8, .5, 1);
}

.select-x45 {
    position: relative;
}

.input-o6t {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
}

.theme--2pi.input-o6t {
    color: rgba(0, 0, 0, .87);
}

.field-jjw.input-5ll {
    padding-top: 0;
}

.field-jjw.field-oer {
    margin: 0;
    padding: 0;
}

.alert-ven {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
    -webkit-transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition: .3s cubic-bezier(.25, .8, .5, 1);
}

.alert-hhy {
    padding-top: 8px;
    padding-bottom: 8px;
}

.alert-652 {
    background: transparent !important;
}

.mx-ojc {
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.v-ghe.alert-ven {
    border-radius: 5px;
}

.alert-ven:not(.v-sheet--tile) {
    border-radius: 5px;
}

.v-ghe.alert-ven:not(.v-sheet--outlined) {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
}

.alert-652:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .12;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
}

.wrapper-hbr {
    overflow-x: auto;
    overflow-y: hidden;
}

.footer-t4c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .75rem;
    padding: 0 8px;
}

.theme--2pi.table-vid .footer-t4c {
    border-top: thin solid rgba(0, 0, 0, .12);
}

.input-1of {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 0;
    width: 100%;
}

.field-jjw .input-1of {
    border-radius: inherit;
}

.field-jjw .input-1of {
    color: currentColor;
}

.icon-ok5 {
    margin-left: 5px;
}

.icon-ok5 {
    background-color: #fff;
    margin-right: 5px;
}

.icon-ok5 {
    background-color: #f8f8fa;
    padding-block: 13px;
    padding-inline: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.icon-gae {
    padding-inline: 15px !important;
    padding-block: 15px !important;
    height: 100%;
}

.wrapper-3bl {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.table-vid>.wrapper-hbr>table {
    width: 100%;
    border-spacing: 0;
}

.footer-ivo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    white-space: nowrap;
}

.footer-ivo {
    margin-left: auto;
    margin-right: 14px;
}

.pagination-aiv {
    display: block;
    text-align: center;
}

.pagination-aiv {
    margin: 0 32px 0 24px;
}

[role="button"] {
    cursor: pointer;
    color: inherit;
}

.input-ywv {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    min-height: inherit;
    position: relative;
    -webkit-transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    -webkit-transition-property: height, min-height;
    transition-property: height, min-height;
    width: 100%;
}

.input-ywv {
    min-height: 50px !important;
}

.field-jjw .input-ywv {
    border-radius: inherit;
}

.input-5ll>.input-1of>.input-ywv {
    margin-bottom: 4px;
}

.input-s7t>.input-1of>.input-ywv {
    margin-bottom: 0;
}

.field-jjw>.input-1of>.input-ywv {
    cursor: text;
}

.field-kq7>.input-1of>.input-ywv {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 56px;
}

.field-kq7>.input-1of>.input-ywv {
    background: transparent;
}

.select-x45>.input-1of>.input-ywv {
    cursor: pointer;
}

.field-kq7.input-5ll>.input-1of>.input-ywv {
    min-height: 52px;
}

.field-kq7.input-5ll.field-kq7>.input-1of>.input-ywv {
    min-height: 40px;
}

.field-jjw.field-oer:not(.v-text-field--rounded)>.input-1of>.input-ywv {
    padding: 0 12px;
}

.field-jjw>.input-1of>.input-ywv::after,
.field-jjw>.input-1of>.input-ywv::before {
    bottom: -1px;
    content: "";
    left: 0;
    position: absolute;
    -webkit-transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    width: 100%;
}

.field-jjw>.input-1of>.input-ywv::before {
    border-color: inherit;
    border-style: solid;
    border-width: thin 0 0 0;
}

.field-kq7>.input-1of>.input-ywv::after,
.field-kq7>.input-1of>.input-ywv::before,
.v-text-field--rounded>.input-1of>.input-ywv::after,
.v-text-field--rounded>.input-1of>.input-ywv::before,
.v-text-field--solo>.input-1of>.input-ywv::after,
.v-text-field--solo>.input-1of>.input-ywv::before {
    display: none;
}

.theme--2pi.field-jjw>.input-1of>.input-ywv::before {
    border-color: rgba(0, 0, 0, .42);
}

.field-jjw>.input-1of>.input-ywv::after {
    background-color: currentColor;
    border-color: currentColor;
    border-style: solid;
    border-width: thin 0 thin 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.theme--2pi.field-jjw:not(.v-input--has-state):hover>.input-1of>.input-ywv::before {
    border-color: rgba(0, 0, 0, .87);
}

.dro-5tp div div {
    margin: 0;
}

.field-gvq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 100%;
    min-height: 14px;
    overflow: hidden;
}

.field-gvq {
    display: none !important;
}

.field-jjw.field-oer .field-gvq {
    padding: 0 12px;
}

.field-jjw.field-oer .field-gvq {
    padding-top: 0;
    margin-bottom: 8px;
}

.content-bhn {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

button {
    font: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    background-color: transparent;
    border-style: none;
}

[disabled] {
    cursor: default;
}

[type="button"],
button {
    cursor: pointer;
    color: inherit;
}

.btn-rjg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 29px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    -webkit-transition-duration: .28s;
    transition-duration: .28s;
    -webkit-transition-property: opacity, -webkit-box-shadow, -webkit-transform;
    transition-property: opacity, -webkit-box-shadow, -webkit-transform;
    transition-property: box-shadow, transform, opacity;
    transition-property: box-shadow, transform, opacity, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-q6y {
    pointer-events: none;
}

.btn-rjg {
    margin: 3px;
}

button,
[type="button"] {
    -webkit-appearance: button;
}

.theme--2pi.btn-rjg {
    color: rgba(0, 0, 0, .87);
}

.btn-rjg.fa-soy {
    font-size: .875rem;
}

.theme--2pi.btn-rjg.btn-q6y {
    color: rgba(0, 0, 0, .26) !important;
}

.btn-rjg:not(.btn-l5d).fa-soy {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
}

.btn-rjg:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
    transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
}

.theme--2pi.btn-rjg:hover:before {
    opacity: .08;
}

.footer-ivo .select-x45 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 0px;
    flex: 0 1 0;
    padding: 0;
    position: static;
}

.footer-ivo .select-x45 {
    margin: 13px 0 13px 34px;
}

.icon-iac {
    min-height: 0;
    min-width: 0;
    padding: 0;
}

.btn-l5d {
    border-radius: 50%;
}

.icon-iac.fa-soy {
    height: 36px;
    width: 36px;
}

.footer-t4c .btn-rjg {
    color: inherit;
}

.theme--2pi.btn-rjg.icon-iac {
    color: rgba(0, 0, 0, .54);
}

.footer-ofl .btn-rjg:last-child {
    margin-right: 7px;
}

.footer-wbv .btn-rjg:first-child {
    margin-left: 7px;
}

.field-jjw fieldset {
    border-radius: inherit;
}

.field-jjw fieldset {
    color: currentColor;
}

.field-kq7 fieldset {
    border-collapse: collapse;
    border-color: currentColor;
    border-style: solid;
    border-width: 1px;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -5px;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: cubic-bezier(.25, .8, .25, 1);
    transition-timing-function: cubic-bezier(.25, .8, .25, 1);
}

.field-kq7 fieldset {
    border: 1px solid #acacaf;
}

.field-kq7 fieldset {
    padding-left: 8px;
}

.theme--2pi.field-kq7:not(.v-input--is-focused):not(.v-input--has-state)>.input-1of>.input-ywv fieldset {
    color: rgba(0, 0, 0, .38);
}

.select-yex {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-width: 0;
    width: 100%;
}

.menu-qo7 {
    display: none;
}

.message-ja9 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 12px;
    min-height: 14px;
    min-width: 1px;
    position: relative;
}

.theme--2pi.message-ja9 {
    color: rgba(0, 0, 0, .6);
}

.message-ja9 {
    text-align: left;
}

.field-kq7 .field-a2x {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.field-jjw>.input-1of>.input-ywv>.field-a2x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
}

.text-it9 {
    color: #4992f0 !important;
    caret-color: #4992f0 !important;
}

.content-gn2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.wrapper-1j1 {
    text-align: center;
}

.theme--2pi.table-vid .wrapper-1j1 {
    color: rgba(0, 0, 0, .38);
}

legend {
    border: 0;
    color: inherit;
    display: table;
    white-space: normal;
    max-width: 100%;
}

.field-kq7 legend {
    line-height: 11px;
    padding: 0;
    -webkit-transition: width .3s cubic-bezier(.25, .8, .5, 1);
    transition: width .3s cubic-bezier(.25, .8, .5, 1);
}

.field-kq7 legend {
    text-align: left;
}

.label-k22 {
    font-size: 16px;
    line-height: 1;
    min-height: 8px;
    -webkit-transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition: .3s cubic-bezier(.25, .8, .5, 1);
}

.input-o6t .label-k22 {
    height: 20px;
    line-height: 20px;
    letter-spacing: normal;
}

.theme--2pi.label-k22 {
    color: rgba(0, 0, 0, .6);
}

.field-jjw .label-k22 {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 6px;
    white-space: nowrap;
    pointer-events: none;
}

.field-kq7 .label-k22 {
    top: 18px;
}

.field-jjw.input-5ll .label-k22 {
    top: 4px;
}

.field-jjw .label-k22 {
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.field-kq7.input-5ll .label-k22 {
    top: 10px;
}

.select-m4v {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 18px;
    max-width: 100%;
    min-width: 0;
}

.select-m4v {
    min-height: 0 !important;
    padding: 0 !important;
}

.theme--2pi.select-x45 .select-m4v {
    color: rgba(0, 0, 0, .87);
}

.select-x45.field-kq7:not(.v-text-field--single-line) .select-m4v {
    padding: 8px 0;
}

.select-x45.field-kq7:not(.v-text-field--single-line).input-5ll .select-m4v {
    padding: 4px 0;
}

.field-jjw .input-dwd {
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 4px;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.field-oer .input-dwd {
    margin-top: 17px;
}

.field-jjw.input-5ll .input-dwd {
    margin-top: 0;
}

.field-jjw .input-dwd {
    margin-left: auto;
    padding-left: 4px;
}

.field-oer.input-5ll:not(.v-text-field--solo) .input-dwd {
    margin-top: 14px;
}

.field-oer.input-5ll:not(.v-text-field--solo).field-kq7 .input-dwd {
    margin-top: 8px;
}

input {
    border-radius: 0;
}

input {
    font: inherit;
}

input {
    background-color: transparent;
    border-style: none;
}

.input-o6t input {
    max-height: 32px;
}

.field-jjw input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    line-height: 20px;
    padding: 8px 0 8px;
    max-width: 100%;
    min-width: 0;
    width: 100%;
}

.theme--2pi.input-o6t input {
    color: rgba(0, 0, 0, .87);
}

.select-x45.field-jjw input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    min-width: 0;
    position: relative;
}

.select-x45.field-jjw:not(.v-text-field--single-line) input {
    margin-top: 0;
}

.select-x45.select-xyp .select-m4v {
    min-height: 42px;
}

.select-x45.select-xyp:not(.v-text-field--single-line).field-oer .select-m4v {
    min-height: 68px;
}

.select-x45.select-xyp input {
    margin: 0;
}

.filter-e4z div div div label {
    top: 30% !important;
}

.text-pry {
    text-align: start !important;
}

.table-vid>.wrapper-hbr>table>thead>tr>th {
    padding: 0 16px;
    -webkit-transition: height .2s cubic-bezier(.4, 0, .6, 1);
    transition: height .2s cubic-bezier(.4, 0, .6, 1);
}

.table-vid>.wrapper-hbr>table>thead>tr>th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .75rem;
    height: 48px;
}

.theme--2pi.table-vid>.wrapper-hbr>table>thead>tr>th {
    color: rgba(0, 0, 0, .6);
}

.table-vid>.wrapper-hbr>table>thead>tr>th {
    text-align: left;
}

.theme--2pi.table-vid>.wrapper-hbr>table>thead>tr:last-child>th {
    border-bottom: thin solid rgba(0, 0, 0, .12);
}

.table-vid>.wrapper-hbr>table>tbody>tr>td {
    padding: 0 16px;
    -webkit-transition: height .2s cubic-bezier(.4, 0, .6, 1);
    transition: height .2s cubic-bezier(.4, 0, .6, 1);
}

.table-vid>.wrapper-hbr>table>tbody>tr>td {
    font-size: .875rem;
    height: 48px;
}

.theme--2pi.icon-hoz {
    color: rgba(0, 0, 0, .54);
}

.icon-hoz.icon-hoz {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    font-size: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    -webkit-transition: .3s cubic-bezier(.25, .8, .5, 1), visibility 0s;
    transition: .3s cubic-bezier(.25, .8, .5, 1), visibility 0s;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-rjg>.content-gn2 .icon-hoz {
    color: inherit;
}

.icon-iac.fa-soy .icon-hoz {
    height: 24px;
    font-size: 24px;
    width: 24px;
}

.theme--2pi.btn-rjg.btn-q6y .icon-hoz {
    color: rgba(0, 0, 0, .26) !important;
}

.icon-hoz.icon-hoz:after {
    background-color: currentColor;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    width: 100%;
    -webkit-transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
    transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
}

.select-m4v input {
    display: none;
}

.select-m4v input {
    cursor: pointer !important;
}

.input-3w4 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 24px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 24px;
    width: 24px;
}

.v-icon__svg {
    height: 24px;
    width: 24px;
}

.v-icon__svg {
    fill: currentColor;
}

.icon-hoz svg {
    width: 1.2em !important;
    height: 1.2em !important;
    color: inherit;
    font-size: inherit;
    fill: currentColor !important;
}

.footer-ivo .select-m4v {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.select-x45:not(.v-text-field--single-line):not(.field-kq7) .select-yex>input {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.select-ycy {
    max-width: 90%;
}

.select-ox6 {
    margin: 7px 4px 7px 0;
    min-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer-ivo .select-m4v .select-ox6 {
    font-size: .75rem;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-Vq61e.style-Vq61e {
    width: 0px;
}

#style-OQ1fj.style-OQ1fj {
    left: 0px;
    right: auto;
    position: absolute;
}

#style-Wpewn.style-Wpewn {
    width: 0px;
}

#style-6i5No.style-6i5No {
    left: 0px;
    right: auto;
    position: absolute;
}

#style-mWNgC.style-mWNgC {
    width: 0px;
}

#style-zcdjA.style-zcdjA {
    left: 0px;
    right: auto;
    position: absolute;
}

#style-vb37k.style-vb37k {
    width: 125px;
    min-width: 125px;
}

#style-qpj5e.style-qpj5e {
    width: 170px;
    min-width: 170px;
}