@import url('https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap');

body {
    color: rgba(0, 0, 0, .87);
    background: #fff;
    font-family: Manrope, sans-serif, serif;
    line-height: 1.5;
    font-size: var(--maz-base-font-size);
}

* {
    background-repeat: no-repeat;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

.v-sheet:not(.v-sheet--outlined) {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
}

.v-sheet.v-stepper:not(.v-sheet--outlined) {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.col-65b {
    width: 100%;
    padding: 12px;
}

.col-65b {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row-5mo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: -12px;
}

.row-5mo {
    margin-bottom: 0 !important;
}

.row-5mo {
    margin-top: 0 !important;
}

.row-5mo {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container.fill-height>.row-5mo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: calc(100% + 24px);
}

body {
    overflow-x: hidden;
    background-color: #f6f9fc;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

html {
    font-size: 14px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: var(--maz-base-font-size);
}

:root {
    --maz-base-font-size: 16px;
}

:root {
    --maz-container-padding: 40px;
    --maz-container-width: calc(100% - var(--maz-container-padding)*2);
}

*,
:after,
:before {
    background-repeat: no-repeat;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit;
}

:-webkit-scrollbar {
    width: 10px;
}

:-webkit-scrollbar-thumb {
    background: #888;
}

:-webkit-scrollbar-thumb {
    background-color: #989696;
    border-radius: 5px;
}

:-webkit-scrollbar-thumb:hover {
    background: #555;
}

:-webkit-scrollbar-track {
    background: #f1f1f1;
}

:-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.row-5mo+.row-5mo {
    margin-top: 12px;
}

.row-5mo,
.row-5mo+.row-5mo {
    margin-top: 0 !important;
}

.container-vyb {
    display: none;
}

.noC-nw6 {
    padding-left: 16px;
    padding-bottom: 32px;
    color: #b8b8b9;
}

.v-application p {
    margin-bottom: 16px;
}

.text-3aq {
    font-weight: 400;
    font-family: Manrope, sans-serif, serif !important;
}

.text-3aq {
    font-size: .875rem !important;
    line-height: 1.25rem;
    letter-spacing: .0178571429em !important;
}

.box-hk9 {
    border: 2px dotted #000;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2em;
    margin: 5px;
}

input {
    border-radius: 0;
}

input {
    font: inherit;
}

input {
    background-color: transparent;
    border-style: none;
}

.v-application ul {
    padding-left: 24px;
}

button {
    font: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    background-color: transparent;
    border-style: none;
}

[type="button"],
button {
    cursor: pointer;
    color: inherit;
}

.btn-cfz {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 29px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    -webkit-transition-duration: .28s;
    transition-duration: .28s;
    -webkit-transition-property: opacity, -webkit-box-shadow, -webkit-transform;
    transition-property: opacity, -webkit-box-shadow, -webkit-transform;
    transition-property: box-shadow, transform, opacity;
    transition-property: box-shadow, transform, opacity, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-rpr {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn-cfz {
    margin: 3px;
}

button,
[type="button"] {
    -webkit-appearance: button;
}

.theme--9oj.btn-cfz {
    color: rgba(0, 0, 0, .87);
}

.btn-cfz.fa-9yx {
    font-size: .875rem;
}

.theme--9oj.btn-cfz.btn-72z {
    background-color: #f5f5f5;
}

.btn-cfz:not(.v-btn--round).fa-9yx {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
}

.btn-cfz:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
    transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
}

.btn-rpr:after {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.theme--9oj.btn-cfz:hover:before {
    opacity: .08;
}

.content-y44 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

b {
    font-weight: bolder;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-fdNep.style-fdNep {
    text-align: center;
}

#cvU-67e.style-hkeR2 {
    display: none;
}